<h1>Create a Pokemon</h1>
<% if flash[:any_key] %>
	<%= flash[:any_key] %>
<% end %>
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, placeholder: 'Pokemon name' %>
  <%= f.button :submit %>
<% end %>
